@import url(http://fonts.googleapis.com/css?family=Lato:400,700)
@import "config"
@import "base"
@import "buttons"
@import "inputs"

html
	font-family: $base-font-family
	color: $base

h4
	margin: 3px 0px

#map-canvas
	max-width: none

#key
	top: 10px
	right: 10px
	position: absolute
	z-index: 1001
	background-color: white
	border: 1px solid rgb(171, 171, 171)
	width: 400px
	height: 250px
	+border-radius(3px)

.stationBubble
	font-family: $base-font-family
	
	dl
		text-transform: lowercase
		font-size: 12px
		dt
			font-weight: bold
		
		dd
			margin: 0
			padding-left: 10px
			
.content
	padding: 10px