<div id="map">
	<div id="map-canvas"></div>
</div>
	
<div id="key">
	<div class="content">
		<p>Where do you want to go?</p>
		<input id="destination" type="text" placeholder="address or location">
		<input type="button" class="btn-primary" value="plot" onclick="setDestination()">
	</div>
	<!--<div class="content">
		<div class="input"><span class="label">A</span><input type="text"></div>
		<div class="input"><span class="label">B</span><input type="text"></div>
	</div>-->
</div>